	{{> header}}
	<div class="container">
	    <div class="section">
	      	<div class="row">
	      	  <form class="col s12" action="/signup" method="post">
	      	    <div class="row">
	      	      <div class="input-field col s6">
	      	        <input placeholder="Placeholder" name="name" value="{{name}}" type="text" class="validate">
	      	        <label for="first_name">Name</label>
	      	      </div>
	      	    </div>
	      	    <div class="row">
	      	      <div class="input-field col s12">
	      	        <input id="email" type="email" name="email"  value="{{email}}" class="validate">
	      	        <label for="email">Email</label>
	      	      </div>
	      	    </div>
	      	    <div class="row">
	      	      <div class="input-field col s12">
	      	        <input id="password1" type="password" name="password" class="validate">
	      	        <label for="password">Password</label>
	      	      </div>
	      	    </div>
	      	    <div class="row">
	      	      <div class="input-field col s12">
	      	        <input id="password2" type="password" name="repassword" class="validate">
	      	        <label for="password">Password</label>
	      	      </div>
	      	    </div>
	      	    <div class="row">
		      	    <button class="btn waves-effect waves-light" type="submit">Submit
		      	      <i class="material-icons right">send</i>
		      	    </button>
	      	    </div>
	      	  </form>
	      	</div>
	    </div>
	</div>
	
	{{> footer}}
	
